*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.part1{
    background: url(./bil/cover3.png) no-repeat center /cover;
    min-height: 75vh;
}
.part1 .nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.part1 .nav .become a{
    color: white;
    text-decoration: none;
    padding: auto;
    margin-right: 2rem;
    font-weight: 500;
}
.part1 .nav .brand{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.part1 .nav button{
    background-color: #23A6F0;
    width: 11rem;
    height: 2.4rem;
    border:none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.part1 .nav .list ul{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}
.part1 .nav .list ul li{
    display: inline-block;
    padding: 0.4rem;
    list-style: none;
}
.part1 .nav .list ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.part1 .best{
    text-align: center;
    color: white;
}
.part1 .best h1{
    line-height: 3.8rem;
    margin-bottom: 2rem;
    font-size: 56px;
    margin-top: 3rem;
}
.part1 .best p{
    font-weight: 700;
    font-size: 20px;
}
.part1 .quote{
    text-align: center;
    margin-top: 2rem;
}
.part1 .quote .one{
    text-align: center;
    margin-bottom: -1.25rem;
    background-color: #23A6F0;
    width: 8rem;
    height: 2.5rem;
    border: transparent;
    border-radius: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.part1 .quote .two{
    text-align: center;
    margin-bottom: 2rem;
    background-color: transparent;
    width: 8rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.part1 .sits{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.part1 .sits .mind{
    border: 1px solid white;
    padding: 1.5rem;
    margin-right: 5.7rem;
    background-color: white;
    margin-bottom: -18.25rem;
}
.part1 .sits .cent{
    border: 1px solid #23A6F0;
    padding: 1.5rem;
    margin-right: 5.7rem;
    background-color: #23A6F0;
    margin-bottom: -18.25rem;
}
.blank{
    min-height: 25vh;
    background-color: rgb(241, 238, 238);
}
.part2 {
    min-height: 50vh;
}
.part2 .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part2 .container .pm {
    margin: 4rem;
    text-align: center;
    padding: 2rem;
}
.part2 .container .pmi {
    margin: 4rem;
    text-align: center;
    padding: 2rem;
}
.part2 .container .pml {
    margin: 4rem;
    text-align: center;
    padding: 2rem;
}
.part2 .container .pm img{
    width: 50%;
    height: auto;
}
.part2 .container .pmi img{
    width: 55%;
    height: auto;
}
.part2 .container .pml img{
    width: 56%;
    height: auto; 
}